@media only screen and (max-device-width: 900px) {
    /* .menu { width:100%; } */
    }

body {
    font-family: Verdana;
}
img {
    max-width: 100%;
    height: auto;
    width: 25px;
    height: 25px;
    position: relative;
    right: 50px;
}
.tabela-brasileirao {
    width: 45%;
    border-collapse: collapse;
}
#titulo {
    position: relative;
    right: 42px;
}
th {
    border-style: solid none;
    border-color: #A9A9A9;
    position: relative;
    right: 18px;
}
td {
    border-style: dotted none;
    border-color: #DCDCDC;
}