body {
    text-align: justify;
    color: slategray
  }
p {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
.container {
    text-align: center;
  }
.caption {
    font-size: 15px;
    margin-top: 5px;
  }
span {
    color: black;
    font-size: 18px;

  }