/* Reset básico para garantir uma aparência limpa e consistente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #2E3B4E 50%, #1F2833 50%);
    color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* Header */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 2rem;
}

.esquerda {
    text-align: left;
    background-color: #34495E;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.esquerda h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.esquerda p {
    font-size: 1.1rem;
    font-weight: 300;
}

.direita {
    text-align: right;
    max-width: 400px;
}

.direita h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #D6D6D6;
}

.direita p {
    font-size: 1.1rem;
    color: #BDC3C7;
}

/* Links */
a {
    text-decoration: none;
    color: #F39C12;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #FFB142;
}

/* Main Content */
.image-container {
    text-align: center;
    margin: 2rem 0;
}

.image-container img {
    border-radius: 50%;
    border: 4px solid #555;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.1);
}

.content {
    text-align: center;
    margin: 1rem 0;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.content p {
    font-size: 1.2rem;
    font-weight: 300;
    color: #BDC3C7;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icons a img:hover {
    transform: scale(1.2);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2F3B47;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

footer p {
    font-size: 0.9rem;
    color: #BDC3C7;
}

/* Responsividade */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .esquerda, .direita {
        max-width: 100%;
        text-align: center;
        padding: 15px;
    }

    .social-icons {
        flex-direction: column;
    }

    .social-icons a {
        margin-bottom: 15px;
    }
}
