body {
  font-family: Arial, sans-serif;
  background-color: #778899;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.column {
  width: calc(35% - 20px);
  margin-bottom: 20px;
  width: 350px;
  padding: 20px;
  border: 1px ridge #ddd;
  background-color: #BDB76B;
}
.project-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.project-description {
  font-size: 16px;
  margin-bottom: 10px;
}
.project-link {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}
.project-link:hover {
  text-decoration: underline;
}
