body {
    margin-left: 10%;
}
.links, a {
    margin: 5px;
    color: #000000;
}
.titulo {
    text-decoration: underline;
    position: relative;
    left: 20%;
}
.texto {
    display: flex;
    margin-left: 12rem;
    position: relative; 
    bottom: 3.2rem;
}
.texto-2 {
    display: flex;
    margin-left: 20rem;
    position: relative; 
    bottom: 3.2rem;
}
    
  
  
